.
..
.DS_Store
FetchTakeHomeProject.xcodeproj/xcuserdata/ryankanno.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
FetchTakeHomeProject.xcodeproj/project.xcworkspace/xcuserdata/ryankanno.xcuserdatad/UserInterfaceState.xcuserstate